# Ignore editor settings and temporary files
.vscode/
.DS_Store

# Ignore build artifacts
/build/
*.o
CMakeLists.txt
Makefile

# Ignore binary and executable files
sokoban

# Allow everything else (including `assets` and `tests`)